.header {
    width:100%;
    background: #222222;
    color: white;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    position: relative;
  }
  
.header ul {
    list-style: none;
    padding:0;
    margin: 0;
  }
.header button {
    text-transform: capitalize;
    position: absolute;
    right:.5rem;
    background-color: transparent;
    border: 0;
    height: 100%;
}
nav ul li{
  float: left;
}
nav ul li a{
  padding: 1rem 1rem 1rem 0;
  font-size: .95rem;
  font-weight: 300;
}
  .header a{
    color: white;
    float: left;
    text-decoration: none;
  }

img.nevrfails-logo {
    height: 2rem;
    padding: .5rem;
}