.project-navigation{
    background-color:#F0ECEC ;
    clear: both;
    display: block;
    min-height: 50px;
    overflow: hidden;
    width:100%;
}
.project-navigation nav {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    right: initial;
}
.project-navigation nav ul li{
    width:25%;
    text-align: center;
}
.project-navigation a{
    color:#222222;
    padding:1rem 0;
    width: 100%;
}