.site-footer{
  position: fixed;
  bottom:6rem;
  left: 0;
  right: 0;
  height:0;
  text-align: center;
}
.help-section{
    box-sizing: border-box;
    padding: 0 0 2rem;
    text-align: center;
    width: 100%;
}
.help-section h2{
    font-size: 2rem;
    font-weight: 100;
}
.help-section .pure-button{
    display: inline-block;
    background-color: transparent;
    border:1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: 1rem;
}
